<div>
    <h2>Borrowers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="borrower.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Borrower
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerId"><span>Borrower Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerFirstName"><span>Borrower First Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerLastName"><span>Borrower Last Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerMiddleName"><span>Borrower Middle Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerSuffix"><span>Borrower Suffix</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="borrowerSsn"><span>Borrower Ssn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="borrower in vm.borrowers track by borrower.id">
                    <td><a ui-sref="borrower-detail({id:borrower.id})">{{borrower.id}}</a></td>
                    <td>{{borrower.borrowerId}}</td>
                    <td>{{borrower.borrowerFirstName}}</td>
                    <td>{{borrower.borrowerLastName}}</td>
                    <td>{{borrower.borrowerMiddleName}}</td>
                    <td>{{borrower.borrowerSuffix}}</td>
                    <td>{{borrower.borrowerSsn}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="borrower-detail({id:borrower.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="borrower.edit({id:borrower.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="borrower.delete({id:borrower.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
